@model IEnumerable<GamesList.Models.GameListModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.PremiereDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.DeveloperID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Hltb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Hltb100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Photo)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.PremiereDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.DeveloperID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Hltb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Hltb100)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Photo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                <form asp-controller="ListModels" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <select asp-for="@item.List.Status" class="form-control">
                            <option value="Completed">Completed</option>
                            <option value="To play">To play</option>
                            <option value="Playing">Playing</option>
                        </select>
                        <span asp-validation-for="@item.List.Status" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Add" class="btn btn-default" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
